.interestCard {
    background: rgba(85, 86, 104, 0.5);
    border-radius: 30px;
    position: relative;
    color: white;
}

.interestCardTitle {
    font-size: 1.5em;
    text-decoration: none;
}

.interestImage {
    border-radius: 30px;
}

.interestCard::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px;
    background: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.4),
            transparent 40%,
            transparent 60%,
            rgba(255, 255, 255, 0.4)
    );
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}


.interestCardContent {
    padding: 20px;
}

.interestCardDescription {
    /*font-size: ;*/
}

.interestTags {}

.interestTag {
    color: var(--default-font-color);
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 0.8em;
    padding: 8px;
    position: relative;
    background: rgba(85, 86, 104, 0.8);
    border-radius: 30px;
    margin-left: 5px;
}

.interestTag::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px;
    background: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.4),
            transparent 40%,
            transparent 60%,
            rgba(255, 255, 255, 0.4)
    );
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.myInterests {
    margin-left: var(--website-margins);
    margin-right: var(--website-margins);
}

.myInterestsHeader {}

.interestsSubheaderText {
    font-family: var(--default-font);
    color: var(--default-font-color);
}

.interestsGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
}

/*Only increase number of columns up to 4. Past 4 columns, only increase width.*/
@media (min-width: 1600px) {
    .interestsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}