.blueprintGrid {
    position: absolute;
    inset: 0;
    background-color: transparent;
    background-image:
            linear-gradient(to right, #C0ADFD80 2px, transparent 2px),
            linear-gradient(to bottom, #C0ADFD80 2px, transparent 2px);
    background-size: 60px 60px;
    mask-image: radial-gradient(circle at 80% 50%, black 0%, transparent 40%);
    -webkit-mask-image: radial-gradient(circle at 80% 50%, black 0%, transparent 40%);
    transition: all 500ms ease-in-out;
}